

<%- include('header'); -%>  <!-- thus this is a template for a header file which can be common for multiple pages -->
  
    <div class="box" id="heading">
        <h1>
            <%= ListTitle%>
        </h1>
    </div>
    <div class="box">

  <!--there should be always { here only before %> ex {%> -->
    <%    newListItem.forEach(function(item){ %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkboxInput" value="<%=item._id %>" onchange="this.form.submit()"> <!--onchange will submit this form when the checkbox is clicked thus we dont need a submit button-->
                <p>
                    <%= item.name %>
                </p>

            </div>
            <!-- adding a hidden type input which just tells the value what is there in it we use this so that we can easily know the listname from which we want to delete the items -->
            <input type="hidden" name="listNAME" value=<%= ListTitle%> > </input>
        </form>

       <% }) %>
     
            <form action="/" method="post" class="item">
                <input type="text" name="todo1" placeholder="New Item" autocomplete="off"> <!-- autocomplete means suggestions u get when u just type-->
                <button type="submit" name="button" value=<%= ListTitle %> >+</button>
            </form>
    </div>

    <!-- for going to work page click button -->

      <%- include('footer'); -%>  <!-- thus this is a template for a footer file which can be common for multiple pages -->


<!-- =--------old code--------=
<% if (ListTitle==="Saturday" || ListTitle==="Sunday") {%>   (see notes in udemy)
        
    <h1 style="color: red" > It's a <%=ListTitle %> !!!</h1>

<%  } else { %>
<h1 style="color: blue" > It's a <%=ListTitle %> !!!</h1>
<%  } %> -->